appdirs==1.4.4
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
cssselect==1.2.0
idna==3.7
importlib-metadata==8.2.0
jmespath==1.0.1
lxml==5.2.2
numpy==1.24.4
packaging==24.1
pandas==2.0.3
parsel==1.9.1
pyee==11.1.0
pyppeteer==2.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
tqdm==4.66.4
typing-extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
w3lib==2.2.1
websockets==10.4
zipp==3.19.2
